/* RESET */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/* /RESET */

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Playfair+Display:wght@700&display=swap');
// /FONTS

// COMMON VARIABLE
$MONTSERRAT: 'Montserrat', sans-serif;
$PLAYFAIR: 'Playfair Display', serif;
$montserrat-regular: 400;
$montserrat-medium: 500;
$montserrat-sb: 600;
$pf-bold: 700;

$DARK-BLOCK-BGC: #282828;
$ACCENT-BLOCK-BGC: #E6E3C4;
$ACCENT-DIFFERENT: #998431;

$SECTION-TITLE-FS: 36px;
$SECTION-SUB0TITLE-FS:16px;
// /COMMON

// COMMON STYLE
[class*="__container"] {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}
body {
    font-family: $MONTSERRAT;
}

.no-scroll {
    overflow: hidden;
}
.title-section {
    font-size: $SECTION-TITLE-FS;
    line-height: 54px;
    font-family: $PLAYFAIR;
    font-weight: 700;
    color: #ffffff;
}
.title-section_black {
    color: #282828;
}
.button {
    display: inline-block;
    padding: 15px 30px;
    text-transform: uppercase;
    background-color: $ACCENT-DIFFERENT;
    font-weight: $montserrat-medium;
    font-size: 16px;
    color: #ffffff;
    transition: all 0.3s ease 0s;
}
.button:hover {
    background-color: #E9C215;
}
.button_black {
    background-color: #282828;
}
.rectangle {
    width: 160px;
    height: 1px;
    background-color: #ffffff;
}
@media (max-width: 991.98px) {
    .text-block {
        margin: 0 auto 30px auto;
    }
}
// /COMMON STYLE

// HEADER
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
}
.header__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 69px;
    font-weight: $montserrat-medium;
    font-size: 13px;
    line-height: 19.5px;
}
.header__menu {
}
.header__menu-icon {
    display: none;
    width: 60px;
    height: 45px;
    position: absolute;
    top: 30px;
    right: 50px;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.icon-menu__rectangle {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background-color: #c4c4c4;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.icon-menu__rectangle:nth-child(1) {
    top: 0;
    transform-origin: left center;
}
.icon-menu__rectangle:nth-child(2) {
    top: 18px;
    transform-origin: left center;
}
.icon-menu__rectangle:nth-child(3) {
    top: 36px;
    transform-origin: left center;
}
@media (max-width: 767.98px) {
    .header {
        height: 100%;
    }
    .header._active {
        z-index: 50;
    }
    .header__container {
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        background-color: black;
        position: relative;
        left: -100%;
        transition: left 0.3s ease 0s;
    }
    .header__contacts {
        justify-content: center;
        flex-direction: column;
    }
    .header__menu {
        border: none;
        flex: 0 1 80%;
    }
    .header__menu .menu__list {
        align-items: flex-start;
        flex-direction: column;
        margin-left: 20px;
    }
    .header__menu .menu__item {
        border: none;
        margin-bottom: 40px;
    }
    .header__menu .menu__link {
        font-size: 36px;
    }
    .header__menu-icon {
        display: block;
    }
    .header__menu-icon._active .icon-menu__rectangle:nth-child(2){
        width: 0%;
        opacity: 0;
    }
    .header__menu-icon._active .icon-menu__rectangle:nth-child(1) {
        transform: rotate(45deg);
        top: -3px;
        left: 8px;
    }
    .header__menu-icon._active .icon-menu__rectangle:nth-child(3) {
        transform: rotate(-45deg);
        top: 39px;
        left: 8px;
    }
    .header._active .header__container{
        left: 0;
    }
}
//===========================
.contacts {
}
.contacts__item {
    color: #FFFFFF;
}

//===========================
.menu {
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    font-weight: $montserrat-regular;
    font-size: 14px;
    line-height: 21px;
}
.menu__list {
    display: flex;
    width: 100%;
    min-height: 45px;
}
.menu__item {
    flex: 0 1 25%;
    text-align: center;
    border-right: 1px solid #FFFFFF;
}
.menu__item:last-child {
    border: none;
}
.menu__link {
    padding: 17px 0;
    display: block;
    color: #FFFFFF;
    transition: all 0.3s ease 0s;
}
.menu__link:hover {
    background-color: #E7D4D4FF;
    color: #282828;
}
// /HEADER

// PREVIEW-SECTION
.preview {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: linear-gradient(180deg, #282828 0%, rgba(40, 40, 40, 0) 100%), url("@img/preview-bg-image.png");
    background-repeat: no-repeat;
}
.preview__container {
    height: 100%;
    width: 100%;
}
.preview__buttons {
    position: absolute;
    top: 77%;
    left:50%;
    display: flex;
    flex-wrap: wrap;
    transform: translateX(-50%);
}
.preview__button {
    margin-right: 30px;
}
.preview__button:last-child {
    margin-right: 0;
}
@media (max-width: 767.98px) {
    .preview__buttons {
        width: 70%;
        flex-direction: column;
        gap: 40px;
        top: 50%;
    }
    .preview__button {
        text-align: center;
        margin-right: 0;
    }
}
// /PREVIEW-SECTION

// ABOUT-FLAVOR
.about-flavor {
    padding: 100px 0;
    background-color: $DARK-BLOCK-BGC;
}
.about-flavor__container {
}
.about-flavor__content {
    position: relative;
    padding: 60px 0;
    border: 3px solid #C4C4C4;
    text-align: center;
}
.about-flavor__title {
    margin-bottom: 40px;
}
.about-flavor__rectangle {
    margin: 0 auto 40px auto;
    text-align: center;
}
.about-flavor__text {
    text-align: center;
    max-width: 662px;
    margin: 0 auto 50px auto;
    font-weight: $montserrat-regular;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
@media (max-width: 767.98px) {
    .about-flavor__text {
        max-width: none;
        padding: 0 15px;
    }
}
// /ABOUT-FLAVOR

// NOVELTIES
.novelties {
    padding: 80px 0;
    background-color: $ACCENT-BLOCK-BGC;
}
.novelties__container {
}
.novelties__content {
    display: flex;
    padding: 60px 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    justify-content: space-between;
}
.novelties__description {
    flex: 0 1 40%;
}
.novelties__designation {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 30px;
    text-shadow: 1px 1px #ffffff;
}
.novelties__title {
    margin-bottom: 30px;
    position: relative;
    max-width: 298px;
}
.novelties__rectangle {
    margin-bottom: 30px;
}
.novelties__items {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.novelties__text {
    margin-bottom: 30px;
    text-shadow: 1px 1px #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #282828;
    max-width: 445px;

}
.novelties__button {
}
.novelties__images {
    flex: 0 1 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 991.98px) {
    .novelties__title {
        max-width: 100%;
    }
    .novelties__title,
    .novelties__rectangle {
        margin: 0 auto 30px auto;
    }
    .novelties__images {
        display: none;
    }
    .novelties__description {
        flex: 0 1 100%;
        text-align: center;
    }
}
.novelties__main-image {
    flex: 0 1 100%;
    margin-bottom: 30px;
}
.novelties__main-image img,
.novelties__sub-image img {
    width: 100%;
    height: 100%;
}
.novelties__sub-image {
    flex: 0 1 47.2%;
}
//==================================
.items-wine {
}
.items-wine__item {
    display: flex;
    border-bottom: 1px solid #ffffff;
    max-width: 445px;
    text-shadow: 1px 1px #ffffff;
}
.items-wine__item:last-child {
    border: none;
}
.items-wine__year {
    display: inline-block;
    border-right: 1px solid #ffffff;
    padding: 26px 22px;
}
.items-wine__text {
    display: flex;
    flex-direction: column;
    padding: 12px 0 15px 30px;
}
.items-wine__name,
.items-wine__description {
    color: #282828;
    white-space: nowrap;
}
.items-wine__name {
    margin-bottom: 5px;
    font-weight: 700;
    font-family: $PLAYFAIR;
    font-size: 18px;
    line-height: 27px;
}
.items-wine__description {
}
@media (max-width: 991.98px) {
    .items-wine {
        align-items: center;
    }
    .items-wine__item {
        max-width: 100%;
        display: flex;
    }
    .items-wine__item {
        justify-content: space-around;
    }
    .items-wine__text {
        width: 100%;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
    .items-wine__year {
        border: none;
    }
}
@media (max-width: 767.98px) {
    .items-wine__name {
        margin-bottom: 0;
    }
    .items-wine__item {
        align-items: center;
    }
    .items-wine__text {
        flex-direction: column;
    }
    .items-wine__year {
        border-right: 1px solid #ffffff;
        padding: 39px 22px;
    }
}
@media (max-width: 479.98px) {
    .items-wine__name,
    .items-wine__description {
        display: inline-block;
        white-space: normal;
    }
}
// /NOVELTIES
// TASTING
.tasting {
    padding: 130px 0 100px 0;
    background-color: $DARK-BLOCK-BGC;
}
.tasting__container {
}
.tasting__content {
    position: relative;
    padding: 105px 10px 80px 10px;
    text-align: center;
    border: 3px solid #C4C4C4;
}
.tasting__content::before,
.tasting__content::after {
    content: "";
    display: block;
    position: absolute;
    background-size: cover;
    z-index: 10;
}

.tasting__content::before {
    top: -69px;
    left: -30px;
    width: 260px;
    height: 260px;
    background-image: url("@img/grapes.svg");
}
.tasting__content::after {
    top: -65px;
    right: -53px;
    width: 260px;
    height: 200px;
    background-image: url("@img/cask.svg");
}
@media (max-width: 1187px) {
    .tasting__content::before,
    .tasting__content::after {
        display: none;
    }
}
.tasting__inner-wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 540px;
    //padding: 0 15px;
}
.tasting__title {
    padding: 0 50px;
    margin: 0 auto;
    display: block;
    z-index: 10;
    top: -134px;
    left: 0;;
    right: 0;
    position: absolute;
    background-color: $DARK-BLOCK-BGC;
}
@media (max-width: 767.98px) {
    .tasting__title {
        padding: 0;
    }
}
.tasting__subtitle {
    color: #FFFFFF;
    margin-bottom: 80px;
}
.tasting__form {
}
@media (max-width: 767.98px) {
}
@media (max-width: 600px) {
    .tasting__content {
        border: none;
    }
}
//==================================
.form {
    display: flex;
    flex-direction: column;
}
.form__input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.form__input {
    width: 254px;
}
.form__input::placeholder {
    color: #ffffff;
}
.form__input,
.form__select {
    padding-bottom: 10px;
    background-color: $DARK-BLOCK-BGC;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}
@media (max-width: 767.98px) {
    .form__input-container {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .form__input {
        width: 100%;
        margin-bottom: 20px;
        font-size: 18px;
    }
    .form__input::placeholder {
    }
}
.form__select {
    margin-bottom: 50px;
}
.form__button {
    padding: 15px 0;
    border: 1px solid #ffffff;
    background-color: $DARK-BLOCK-BGC;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.form__button:hover {
    background-color: $ACCENT-BLOCK-BGC;
    color: #282828;
}
// /TASTING
// FOOTER
.footer {
    background-color: $ACCENT-DIFFERENT;
    padding: 50px 0;
}
.footer__container {
}
.footer__contacts {
    display: flex;
    justify-content: space-around;
    padding: 20px 93px 20px 94px;
    border-top: 1px solid #ffffff;
    font-weight: 400;
    font-size: 14px;
}
.footer__menu {
    font-weight: 600;
}
.footer__menu .menu__link {
    text-transform: uppercase;
}
.footer__menu .menu__link:hover {
    background-color: $ACCENT-DIFFERENT;
}

.menu__socials {
    display: flex;
    padding: 0 57px;
    align-items: center;
    height: 100%;
}
.socials-links {
}
.socials-links__item {
    margin-right: 35px;
}
.socials-links__link {
}
.socials-links__item:last-child {
    margin-right: 0;
}
@media (max-width: 991.98px) {
    .footer__menu {
        font-size: 12px;
    }
    .footer__menu .menu__link {
        padding: 17px 5px;
        white-space: nowrap;
    }
}
@media (max-width: 767.98px) {
    .footer {
        padding: 25px 0;
    }
    .footer__menu {
        border: 0;
    }
    .footer__menu .menu__list .menu__item:nth-child(1),
    .footer__menu .menu__list .menu__item:nth-child(2),
    .footer__menu .menu__list .menu__item:nth-child(4) {
        display: none;
    }
    .footer__menu .menu__list .menu__item {
        flex: 0 1 100%;
        text-align: center;
        border-right: 0;
    }
    .menu__socials {
        justify-content: space-around;
    }
    .footer__contacts {
        display: none;
    }
    .footer__menu .menu__list {
        justify-content: space-between;
    }
}
// /FOOTER

