/* RESET */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/* /RESET */

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Playfair+Display:wght@700&display=swap');
// /FONTS

// COMMON VARIABLE
$MONTSERRAT: 'Montserrat', sans-serif;
$PLAYFAIR: 'Playfair Display', serif;
$montserrat-regular: 400;
$montserrat-medium: 500;
$montserrat-sb: 600;
$pf-bold: 700;

$DARK-BLOCK-BGC: #282828;
$ACCENT-BLOCK-BGC: #E6E3C4;
$ACCENT-DIFFERENT: #998431;

$SECTION-TITLE-FS: 36px;
$SECTION-SUB0TITLE-FS:16px;
// /COMMON

// COMMON STYLE
[class*="__container"] {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    font-family: $MONTSERRAT;
}

.title-section {
    font-size: $SECTION-TITLE-FS;
    line-height: 54px;
    font-family: $PLAYFAIR;
    color: #ffffff;
}
// /COMMON STYLE

// HEADER
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
}
.header__container {

}
.header__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 69px;
    font-weight: $montserrat-medium;
    font-size: 13px;
    line-height: 19.5px;
}
.header__menu {
}
//===========================
.contacts {
}
.contacts__address,
.contacts__number {
    color: #FFFFFF;
}
.contacts__address {
}
.contacts__number {
}
//===========================
.menu {
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    font-weight: $montserrat-regular;
    font-size: 14px;
    line-height: 21px;
}
.menu__list {
    display: flex;
    width: 100%;
    min-height: 45px;
}
.menu__item {
    flex: 0 1 25%;
    text-align: center;
    border-right: 1px solid #FFFFFF;
    cursor: pointer;
}
.menu__item:last-child {
    border: none;
}
.menu__link {
    padding: 17px 0;
    display: block;
    color: #FFFFFF;
    transition: all 0.3s ease 0s;
}
.menu__link:hover {
    background-color: #E7D4D4FF;
    color: #282828;
}
// /HEADER

// PREVIEW-SECTION
.preview {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: linear-gradient(180deg, #282828 0%, rgba(40, 40, 40, 0) 100%), url("@img/preview-bg-image.png");
    background-repeat: no-repeat;
}
.preview__container {
}
.preview__buttons {
    padding: 700px 0 0 0;
    text-align: center;
}
.preview__button {
    padding: 15px 30px;
    text-transform: uppercase;
    background-color: $ACCENT-DIFFERENT;
    font-weight: $montserrat-medium;
    font-size: 16px;
    color: #ffffff;
    margin-right: 30px;
    transition: all 0.3s ease 0s;
}
.preview__button:hover {
    background-color: #E9C215;
}
.preview__button:last-child {
    margin-right: 0;
}
// /PREVIEW-SECTION

// ABOUT-FLAVOR
.about-flavor {
    padding: 100px 0;
    background-color: $DARK-BLOCK-BGC;
}
.about-flavor__container {
}
.about-flavor__content {
    position: relative;
    padding: 60px 0;
    border: 3px solid #C4C4C4;
    text-align: center;
}
.about-flavor__title {
    margin: 0 0 80px 0;
}
.about-flavor__title::after {
    content: "";
    position: absolute;
    top: 154px;
    left: calc(50% - 80px);
    display: block;
    width: 160px;
    height: 1px;
    background-color: #ffffff;
}

.about-flavor__text {
    max-width: 662px;
    margin: 0 auto 50px auto;
    font-weight: $montserrat-regular;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
// /ABOUT-FLAVOR